* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.5px;
}

body {
  background-color: #000;
  color: #fff;
}

.parentContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
}

.leftContainer {
  display: flex;
  flex-direction: column;

  gap: 16px;
  padding: 24px;
  width: 30%;
  height: 100%;
  background-color: #121212;
}

.rightContainer {
  display: flex;
  flex-direction: column;

  gap: 16px;
  padding: 24px;

  width: 70%;
  height: 100%;
  background-color: #1f1f1f;
}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.inputTitle {
  width: 100%;
  padding: 10px;
  border: 1px solid #333;
  border-radius: 8px;
  background-color: #272727;
  color: #fff;
  outline: none;
}

.inputTitle:focus {
  outline: 1px solid #6a6a6a;
}

.inputDescription {
  width: 100%;
  max-width: 100%;
  min-height: 100px;
  padding: 10px;
  border: 1px solid #333;
  border-radius: 8px;
  background-color: #272727;
  color: #fff;
  outline: none;
}

.inputDescription:focus {
  outline: 1px solid #6a6a6a;
}

.addNoteButton {
  width: 100%;
  padding: 10px;
  border: 1px solid #aaaaaa;
  border-radius: 8px;
  background-color: #ffffff;
  color: #000000;
  outline: none;
  cursor: pointer;
}

.addNoteButton:hover {
  background-color: #e0e0e0;
}

.addNoteButton:active {
  background-color: #d0d0d0;
}

.notesContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  align-content: flex-start;
  justify-content: flex-start;

  width: 100%;
  height: 100%;
}

.noteBox {
  display: flex;
  flex-direction: column;
  padding: 16px;
  border: 1px solid #333;
  border-radius: 8px;
  background-color: #e1bd62;
  color: #fff;
  width: 280px;
  position: relative;

  height: 280px;
}

.deleteNoteButton {
  position: absolute;
  top: -12px;
  right: -12px;
  cursor: pointer;
  background-color: #000000;
  border-radius: 50%;
}
